* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_none{
    display: none;
}

.header {
    background-color: #004F51;
    padding: 8px;
}

.header img {
    width: 200px;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7E4C3;
}

.mainDisplay h1 {
    font-size: 40px;
    padding: 20px;
    color: #004F51;
}

.thumbnailGallery {
    height: 200px;
    width: 200px;
}

.dialog {
    border: 5px #004F51;
    background-color: #F7E4C3;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 75%;
    width: 50%;
}


.bigPicture img{
    display: flex;
    height: 500px;
    width: 500px;
}


.footer {
    display: flex;
    justify-content: center;
    background-color:  #004F51;
    padding: 8px;
    color: #F7E4C3;
    font-weight: 700;
}