* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_none{
    display: none;
}

.header {
    background-color: #004F51;
    padding: 8px;
}

.header img {
    width: 200px;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    background-color: #F7E4C3;
}

.mainDisplay h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 20px;
    color: #004F51;
}

.imageGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.thumbnailGallery {
    border-radius: 8px;
    height: 250px;
    width: 250px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.imageGallery:hover > :not(:hover) {
    filter: blur(5px);
    opacity: 1;
}

.dialog {
    background-color: #F7E4C3;
    position: absolute;
    border: 8px solid #004F51 ;
    border-radius: 8px;
    top: 10%;
    left: 10%;
    width: 600px;
}


.bigPicture {
    display: flex;
    justify-content: center;
}

.bigPicture img{
    border-radius: 8px;
    height: 500px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dialogDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-left: 36px;
    padding-right: 36px;
    
}

.dialogFooter {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;

}

.btn {
    background-color: #004F51;   /* Buttonfarbe */
  color: #F7E4C3;             /* Textfarbe */
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #006C6F;   /* etwas heller für Interaktivität */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


.footer {
    display: flex;
    justify-content: center;
    background-color:  #004F51;
    padding: 8px;
    color: #F7E4C3;
    font-weight: 700;
    font-size: 18px;
}