* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_none{
    display: none;
}

.header {
    background-color: rgba(68, 60, 60, 0.281);
    padding: 8px;
}

.header img {
    width: 200px;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDisplay h1 {
    font-size: 40px;
    padding: 20px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.375);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

}

.gridContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}
    
.img1 {
  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.img2 {
   grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;

}

.img3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.img4 {
     grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.img5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
}

.img6 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.img7 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}

.img8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 7;
}

.img9 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 9;
}

.img10 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 9;
}










.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(68, 60, 60, 0.281);
    padding: 8px;
    color: white;
    font-weight: 700;
}